
<div class="container" [hidden]="submitted">
  <h1>Initial configuration</h1>
  <form (ngSubmit)="onSubmit()" #intialConfigForm="ngForm">
<!--    Dimension-->
    <div class="form-group">
      <label for="dimensionX">dimensionX</label>
      <input type="number" class="form-control" id="dimensionX" name="dimensionX"  [(ngModel)]="dimensionX"  required>
      <label for="dimensionY">dimensionY</label>
      <input type="number" class="form-control" id="dimensionY" name="dimensionY" [(ngModel)]="dimensionY"  required>
    </div>

<!--    Fist Orientation-->
    <div class="form-group">
      <label for="initialOrientation">Initial Orientation</label>
      <select class="form-control" id="initialOrientation" [(ngModel)]="firstOrientation" required>
        <option *ngFor="let orientation of orientations" name="firstOrientation">{{orientation}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="axeX">initial X</label>
      <input type="number" class="form-control" id="axeX" name="axeX" [(ngModel)]="axeX" required>
      <label for="axeY">initial Y</label>
      <input type="number" class="form-control" id="axeY" name="axeY"  [(ngModel)]="axeY"  required>
    </div>

    <div class="form-group">
      <label for="instruction">instructions</label>
      <input type="text" class="form-control" id="instruction"  [(ngModel)]="instruction"   name="instruction" required>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!intialConfigForm.form.valid">Submit</button>

  </form>
</div>

<div class="centerdiv">
  <div>
    <button [hidden]="notLunched" (click)="ProcessAction()">Move the aspirateur</button>
  </div>

  <div class="table">
    <table>
  <!--    <thead>-->
  <!--    <tr>-->
  <!--      <th scope="col" *ngFor="let col of colArray; index as i">{{i+1}}</th>-->
  <!--    </tr>-->
  <!--    </thead>-->
      <tbody>
      <tr *ngFor="let col of rowArray; index as i">
        <td *ngFor="let col of colArray; index as j" id="{{i+1}},{{j+1}}">{{col}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div id="result" [hidden]="!showTable">
    - Final Configuration : <br/>
     * X = {{axeX}} <br/>
     * y = {{axeY}} <br/>
     * orientation = {{currentOrientation}} <br/>
  </div>

  <div>
    <button [hidden]="!showTable" (click)="initialConfig()">Return to Initial Config</button>
  </div>
</div>
